body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(248, 248, 248);
}

.bg_Nav {
    background-color: #481d06;
    height: fit-content;
    border: 1px solid;
    border-radius: 0 0 0.5em 0.5em;
    width: 100%;
}

.bg_Nav a {
    color: #ffe567;
    font-size: 2vh;
}

.bg_Nav button {
    color: #ffe567;
    border: none;
}

.active {
    background-color: #250f03;
    color: #c4b04f;
    border: #ffe567 double 0.1em;
    border-radius: 0.5em;
    padding: 0 0.2em 0 0.2em;
}

.bg_Nav input[type=search] {
    width: 10vw;

}

.per_button:hover {
    transform: translate(2%, 2%);
    filter: brightness(70%);
}

.color1 {
    color: #481d06;
}

.color2 {
    color: #713b16;
}

.color3 {
    color: #a86425;
}

.color4 {
    color: #ec9e3c;
}

.color5 {
    color: #ffe567;
}