.colDarkBlue {
    background-color: rgb(16, 0, 158);
    color: rgb(255, 166, 0);
}

.colAsh {
    background-color: rgb(68, 100, 136);
    color: rgb(197, 128, 0);
}

.colBlue {
    background-color: rgb(0, 0, 150);
    color: rgb(165, 107, 0);
}


.colBorder {
    border: 1px solid rgb(253, 186, 0);
    border-radius: 1em;
}

.container-xl {
    min-height: 20em;
}

.container {
    min-height: 12em;
}

.container-fluid {
    min-height: 6em;
}

.row {
    min-height: inherit;
}

.col {
    margin: 1px;
}

.imagen1 {
    margin: 1em 1em 1em 0em;
    border-radius: 1em;
}

.Contenedor {
    text-align: center;
    position: relative;
}

.Contenedor img {
    transition: 0.4s;
}

.Contenedor:hover img {
    transition: 0.2s;
    text-align: center;
    position: relative;
    filter: blur(4px);
}

.Contenedor p {
    transition: 0.5s;
    position: absolute;
    position: absolute;
    top: 45%;
    left: 45%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.Contenedor:hover p {
    top: 50%;
    left: 50%;
    transition: 0.5s ease;
    opacity: 1;
}



.sobreImagen {
    color: white;
    font-size: 3vw;
    user-select: none;
    text-shadow: 2px 2px rgb(104, 104, 104);
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(215, 215, 215)
}

header {
    background-color: rgb(195, 195, 195);
    border-bottom: 0.1em dotted;
    border-radius: 0em 0em 1em 1em;
}