:root {
    --bg-color: #0e0601;
    --item-color: #2e1403;
    --nav-color: #250f03;
    --accent-color: #ffee99;
    --accent2-color: #fceea4;
    --text-color: #f4eece;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--bg-color);
    margin: 0;
    height: 100%;
    overflow: hidden;
}

.bg_Nav {
    background-color: var(--nav-color);
    height: fit-content;
    border: 1px solid;
    border-radius: 0 0 0.5em 0.5em;
    width: 100%;
}

.bg_Nav a {
    color: var(--text-color);
    font-size: 2vh;
}
.bg_Nav a:hover{
    color: var(--accent-color);
}

.bg_Nav button {
    color: var(--accent-color);
    border: none;
}

.active {
    background-color: var(--bg-color);
    border: var(--accent2-color) double 0.1em;
    border-radius: 0.5em;
    padding: 0 0.2em 0 0.2em;
}

.bg_Nav input[type=search] {
    width: 10vw;

}

.per_button:hover {
    transform: translate(2%, 2%);
    filter: brightness(70%);
}



main {
    margin: 0px;
    overflow: hidden;
    height: 100vh;
    display: grid;
    justify-content: space-around;
    align-items: center;
    background-color: var(--bg-color);
    color: var(--text-color);
    grid-auto-rows: 1fr;
    gap: 5%;
    padding-top: 20vh;
    padding-bottom: 20vh;
}
.grid_item{
    text-align: center;
    width: 50vw;
    background-color: var(-item--color);
}

.grid_item:focus-within{
    background-color: var(--nav-color);
}
.grid_item:hover{
    background-color: var(--nav-color);
    filter: brightness(1.1);
}
.grid_item > * > * {
    margin: 0.5ex;
}
