:root{
    --border-color: rgb(57, 57, 57);
    --bg-color: rgb(11, 8, 25);
}
body{
    display: flex;
    flex-direction: column;
    background: var(--bg-color);
    margin: 0px;
    width: 100vw;
    overflow-x: hidden;
}
.navbar{
    display: flex;
    width: 100%;
    box-sizing: border-box;
}
.nav-section{
    height: 10rem;
    border-bottom: 1px solid var(--border-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: 1rem;
}

.nav-section.Logo{
    flex: 1;
    border-right: 1px solid var(--border-color);
}
.nav-section.Pages{
    flex: 3;
    border-right: 1px solid var(--border-color);
}
.nav-active *{
    color: gold;
}
.nav-active *::before{
    display: inline-block;
    content:" » ";
    font-weight: 400;
    font-size: inherit;
}
.nav-active *::after{
    display: inline-block;
    content:" » ";
    font-weight: 400;
    transform: rotate(180deg);
    font-size: inherit;
}
a:hover{
    color: #b89832;
}
.OnlySX {
    display:none;
    }
h1, h2, h3, h4, h5, a, p, span, svg,label,input{
    font-family: "Rubik",sans-serif;
    text-decoration: none;
    font-weight: 400;
    color:white;
}
.card{
    background-color: rgb(42, 40, 49);
    padding: 1rem;
}
.footer-div{
    position: relative;
    display: flex;
    width: 99vw;
    bottom: 0;
    flex-direction: column;
    padding: 0 25vw 0 25vw;
    text-align: center;
}
.footer-div .Text{
    width: 75%;
    align-self: center;
    font-size:xx-small;
    color: white;
    text-decoration: none;
}
.footer-div .Title{
    width: 75%;
    align-self: center;
}
.Piramide{
    position: absolute;
    bottom: 0vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;

}
.Piso.Primero{
    width: 100vw;
}
.Piso.Segundo{
    width: 66vw;
}
.Piso.Tercero{
    width: 33vw;
}
.Piso{
    height: 15vh;
    display: flex;
    flex: auto;
}
.floor{
    width: 100vw;
    height: 5vh;
    background-color:chocolate;
}
.Celula{
    border: 1px dotted black;
    background-color: rgb(68, 67, 5);
    flex: auto;
}
.Cartas{
    width: 90vw;
    display: grid;
    margin: auto;
    grid-template-columns: repeat(auto-fit,minmax(calc(50rem/2.2),1fr));
    gap: 2em;
}
.Carta{
    text-align: center;
    margin: auto;
    height:50rem;
    background-color:#d4af37;
    border: solid 2.5px #5a4b18;
    aspect-ratio: 1/2.2;
    border-radius: 2rem;
    transition: 1s;
    transform:rotateY(0deg);
    transition-timing-function: linear;
}
.Carta:hover{
    transform:rotateY(180deg);
}
.Carta:hover *{
    transform: rotateY(180deg);
    transition-delay: calc(1s/2);
}
.Carta *{
    color: black;
    transform:rotateY(90deg);
    transition: calc(1s/2);
    padding: 1rem;
    transition-timing-function: linear;
}
.Carta img{
    width: 90%;
}
.index {
    display: grid;
    width: 100%;
    height: 100vh;
    padding: 10%;
    justify-content: center;
    column-gap: 10rem;
    row-gap: 5rem;
    grid-template: ". .";
}
.IndexCard{
    text-align: center;
    border: 0.5px #b89832 solid;
    border-radius: 2rem;
    height: 100%;
}
.IndexCard *{
    padding: 1rem;
}
.index .IndexCard *{
    color: #b89832;
}
div#video{
    margin: 0;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
    overflow: none;
}
video{
    width: 95vw;
    border-left: 2px solid grey;
    border-right: 2px solid grey;
    border-bottom: 2px solid grey;
}
.FotoDePerfil{
    width: 10%;
    border-radius: 100%;
    border: 1px solid grey;
    position: absolute;
    margin-left: 5%;
}
.maps{
    text-align: center;
}
@media (max-width: 767px) {
    .nav-section.GIT,.nav-section.Socials {
    display: none;
    }
    .OnlySX {
    display:block;
    }
    .nav-section.Logo {
    justify-content: left;
    }
    .nav-section {
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    }
}
.maps iframe{
    width: 70vw;
    aspect-ratio: 4/3;
}
.timeline{
    margin: 0 2rem 0 2rem;
}
/*  *{
    outline: green 1px solid;
}  */