:root{
    --border-color: rgb(57, 57, 57);
    --bg-color: rgb(11, 8, 25);
}
body{
    display: flex;
    height: 100%;
    flex-direction: column;
    background: var(--bg-color);
    margin: 0px;
    width: 99vw;
    overflow-x: hidden;
}
.navbar{
    display: flex;
    width: 100%;
    box-sizing: border-box;
}
.nav-section{
    height: 10rem;
    border-bottom: 1px solid var(--border-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: 1rem;
}

.nav-section.Logo{
    flex: 3;
    border-right: 1px solid var(--border-color);
}
.nav-section.Pages{
    flex: 3;
    border-right: 1px solid var(--border-color);
}
.nav-section.Socials{
    border-right: 1px solid var(--border-color);
}
.nav-active svg, .nav-active a{
    color: rgb(113, 112, 117) !important;
}
.nav-active svg, .nav-active a::before{
    display: inline-block;
    content:"»";
    font-weight: 400;
    font-size: inherit;
}
a:hover{
    color: white;
}
.OnlySX {
    display:none;
    }
h1, h2, h3, h4, h5 a, p, span, svg,label,input{
    font-family: "Rubik",sans-serif;
    text-decoration: none;
    font-weight: 400;
    color:white;
    cursor: default;
}
.card{
    background-color: rgb(42, 40, 49);
    padding: 1rem;
}
.footer-div{
    position: fixed;
    display: flex;
    width: 99vw;
    bottom: 0;
    flex-direction: column;
    padding: 0 25vw 0 25vw;
    text-align: center;
}
.footer-div .Text{
    width: 75%;
    align-self: center;
    font-size:xx-small;
    color: white;
    text-decoration: none;
}
.footer-div .Title{
    width: 75%;
    align-self: center;
}
@media (max-width: 767px) {
    .nav-section.GIT,.nav-section.Socials {
    display: none;
    }
    .OnlySX {
    display:block;
    }
    .nav-section.Logo {
    justify-content: left;
    }
    .nav-section {
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    }
    .footer-div{
        position: relative;
    }
}


/* *{
    outline: green 1px solid;
} */